{% extends 'base.html.twig' %}

{% block title %}NicoProduct{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('assets/css/home.css') }}">
    <h2>Bienvenue sur NicoProduct</h2>
    <div id="center">
        <div id="container-last-product">
            <div class="box-last-product"></div>
            <div class="box-last-product"></div>
            <div class="box-last-product"></div>
            <div class="box-last-product"></div>
            <div class="box-last-product"></div>
        </div>
    </div>
{% endblock %}
