{% extends 'base.html.twig' %}

{% block title %}NicoProduct{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <h2>Bienvenue sur NicoProduct</h2>
    <div id="center">
        <div id="container">
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
        </div>
    </div>
{% endblock %}
