{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('assets/css/product.css') }}">
    <h2>Ajouter un commentaire</h2>

{% endblock %}
